﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    -webkit-user-select: none;
    user-select: none;
}

/*= Color =*/
.black{
    color: black !important;
}
.blue {
    color: #004877 !important;
}
.blue-darken {
    color: #004877 !important;
}
.blue-bg {
    color: white;
    border: solid 5px #6DC6FF !important;
    box-shadow: 0px 2px 10px 5px #6DC6FF !important;
    background: #8dd4ff !important;
}
.purple {
    color: #6A6DC6 !important;
}
.purple-bg {
    color: white;
    border: solid 5px #8e91f5 !important;
    box-shadow: 0px 2px 10px 5px #8e91f5 !important;
    background: #a1a4ff !important;
}
.red-bg {
    color: white;
    border: solid 5px #E87F79 !important;
    box-shadow: 0px 2px 10px 5px #E87F79 !important;
    background: #FA9B95 !important;
}

/*= Universal class =*/
.streak {
    position: absolute;
    top: 4%;
    right: 2%;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    padding: 5px 50px 5px 50px;
    border-radius: 30px;
    border: solid 3px #D9D9D9;
    box-shadow: 0px 2px 10px 5px #d9d9d9;
    gap: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.streak i{
    margin-top: 3px;
    color: white;
}

.back-btn {
    position: absolute;
    top: 2.5%;
    left: 1.5%;
    text-decoration: none;
    font-size: 3rem;
    color: white;
    background: #a1a4ff;
    border: solid 2px #a1a4ff;
    box-shadow: 0px 2px 10px 5px #d9d9d9; 
    border-radius: 50%;
    padding: 5px 20px 5px 20px;
}
.container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 100dvw;
    height: 100dvh;
    /*background-color: #fffbf1;*/
    /*border: solid 5px purple;*/
}

.home-bg {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: url(/pic/BG/Home.png);
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;*/
    /*border:solid 5px red;*/
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

.menu{
    position:absolute;
    bottom:2%;
    left:2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color: black;
    font-weight:bold;
    text-decoration:none;
}
.menu i{
    background: white;
    border: solid 2px #9F9F9F;
    box-shadow: 0px 3px 5px #9f9f9f;
    border-radius: 20px;
    padding: 10px 20px 10px 15px;
    font-size: 4rem;
}
.menu-text{
    margin-top: 2px;
    font-size: 1.5rem;
}
.text-success {
    color: #B9E7A6 !important;
}
.done-bg-color {
    color: black !important;
    font-weight: bold;
    background-color: #B9E7A6 !important;
    border: solid 5px #94CA7E !important;
    box-shadow: 0px 3px 5px 2px #b9e7a6 !important;
}
.exit-bg-color {
    color: black !important;
    font-weight: bold;
    background-color: #fb9b95 !important;
    border: solid 5px #E46961 !important;
    box-shadow: 0px 3px 5px 2px #fb9b95 !important;
}

/*= Home Page =*/
.game-text {
    text-align: center;
    font-size: clamp(2rem, 10vw, 10rem) !important;
    z-index: 99;
}
.start-btn {
    margin-top: 10px;
    background: #a1a4ff;
    width: 40% !important;
    padding: 30px 0px 30px 0px;
    border-radius: 100px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: clamp(1rem, 5vw, 3rem) !important;
    border: solid 3px #D9D9D9;
    box-shadow: 0px 2px 10px 5px #d9d9d9;
}
.authen-text {
    width: 35% !important;
    margin-top: 15px;
    white-space: nowrap;
    font-size: clamp(0.8rem, 3vw, 2rem) !important;
}
.authen-text a{
    text-decoration:none;
}
.logout-text {
    white-space: nowrap;
    font-size: clamp(0.8rem, 3vw, 2rem) !important;
}
@media screen and (max-width: 1024px) {
    /* ปรับขนาดตัวอักษรให้พอดีกับหน้าจอ */
    .game-text {
        font-size: clamp(3rem, 8vw, 8rem) !important;
    }

    .start-btn {
        width: 50% !important;
        padding: 25px 0px;
        font-size: clamp(1rem, 4vw, 2.5rem) !important;
    }

    .authen-text {
        width: 45% !important;
        font-size: clamp(0.8rem, 2.5vw, 1.8rem) !important;
    }

    #nong-purple {
        width: 150px !important; /* ลดขนาดลง */
        left: 5% !important; /* บังคับให้คงอยู่ซ้าย */
        position: absolute !important; /* บังคับไม่ให้หลุดจากตำแหน่ง */
    }

    img[style*="Nong Yellow .PNG"] {
        width: 230px !important;
        left: 5% !important; /* คงตำแหน่งเดิม */
    }

    img[style*="NongBlue.PNG"] {
        width: 120px !important;
        left: 87% !important; /* คงตำแหน่งเดิม */
    }

    img[style*="NongRed.PNG"] {
        width: 160px !important;
        left: 80% !important; /* คงตำแหน่งเดิม */
    }
}

/*= Menu Page =*/
.rectangle-menu {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 80px 80px 80px 80px;
    border-radius: 25px;
    background-color: #fee6b0;
    border:solid 15px #8dd4ff;
    transition: 0.5s ease;
}
.menu-header-container {
    position: relative;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
.volumn-btn i{
    font-size: 4rem;
    cursor:pointer;
    transition: 0.5s ease;
}
.menu-headtext {
    font-size: 4rem;
    transition: 0.5s ease;
}
.menu-btn-container {
    position: relative;
    width: 100%;
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    transition: 0.5s ease;
}
.home-btn {
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: clamp(1rem, 5vw, 3rem);
    background-color: #a1a4ff;
    border: solid 15px white;
    border-radius: 25px;
}
.home-btn i{
    margin-bottom: 15px;
    font-size: 8rem;
}
.continue-btn {
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: clamp(1rem, 5vw, 3rem);
    background-color: #B9E7A6;
    border: solid 15px white;
    border-radius: 25px;
}
.continue-btn i{
    margin-bottom: 15px;
    font-size: 8rem;
}
.lesson-btn {
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: clamp(1rem, 5vw, 3rem);
    background-color: #8dd4ff;
    border: solid 15px white;
    border-radius: 25px;
}
.lesson-btn i{
    margin-bottom: 15px;
    font-size: 8rem;
}
@media (max-width: 1440px) {
    .rectangle-menu {
        transform: scale(0.9);
        padding: 50px;
    }
    .menu-header-container {
        width: 90%;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .menu-btn-container{
        transform:scale(0.9);
    }
}

@media (max-width: 1250px) {
    .rectangle-menu {
        transform: scale(0.85);
        padding: 50px 0px 50px 0px;
    }
    .menu-header-container {
        width: 83%;
        margin-top: -20px;
        margin-bottom: 0px;
    }
    .menu-headtext{
        font-size: 3.5rem;
    }
    .volumn-btn i {
        font-size: 3.5rem;
    }
    .menu-btn-container {
        transform: scale(0.85);
    }
}
@media (max-width: 1250px) {
    .rectangle-menu {
        transform: scale(0.85);
        padding: 50px 0px 50px 0px;
    }

    .menu-header-container {
        width: 83%;
        margin-top: -20px;
        margin-bottom: 0px;
    }

    .menu-headtext {
        font-size: 3.5rem;
    }

    .volumn-btn i {
        font-size: 3.5rem;
    }

    .menu-btn-container {
        transform: scale(0.85);
    }
}
@media (max-width: 1024px) {
    .rectangle-menu {
        transform: scale(0.75);
        padding: 50px 0px 50px 0px;
    }
    .menu-header-container {
        width: 83%;
        margin-top: -20px;
        margin-bottom: 0px;
    }

    .menu-headtext {
        font-size: 3.5rem;
    }

    .volumn-btn i {
        font-size: 3.5rem;
    }

    .menu-btn-container {
        transform: scale(0.85);
    }
    img[src="Nong"] {
        width: 75%;
    }
}
@media (max-width: 900px) {
    .rectangle-menu {
        transform: scale(0.65);
        padding: 50px 0px 50px 0px;
    }

    .menu-header-container {
        width: 83%;
        margin-top: -20px;
        margin-bottom: 0px;
    }

    .menu-headtext {
        font-size: 3.5rem;
    }

    .volumn-btn i {
        font-size: 3.5rem;
    }

    .menu-btn-container {
        transform: scale(0.85);
    }
}
@media (max-width: 800px) {
    .rectangle-menu {
        transform: scale(0.6);
        padding: 50px 0px 50px 0px;
    }

    .menu-header-container {
        width: 83%;
        margin-top: -20px;
        margin-bottom: 0px;
    }

    .menu-headtext {
        font-size: 3.5rem;
    }

    .volumn-btn i {
        font-size: 3.5rem;
    }

    .menu-btn-container {
        transform: scale(0.85);
    }
}


    /*= Login/Register Page =*/
    .login-headtext {
        margin-bottom: 15px;
        font-size: clamp(1rem, 4vw, 4rem) !important;
    }

    .rectangle {
        padding: 80px 150px 80px 150px;
        border-radius: 25px;
        background-color: #ccebfe;
    }

    .login-input {
        width: 120%;
        margin-bottom: 35px;
        padding: 15px 15px 15px 30px;
        color: #333;
        background: #fee6b0;
        border: none;
        outline: none;
        border-radius: 50px;
        font-size: clamp(1rem, 2vw, 2rem) !important;
    }

    .login-submit {
        width: 120%;
        padding: 15px 15px 15px 30px;
        color: white;
        background: #a1a4ff;
        border: none;
        outline: none;
        border-radius: 50px;
        border: solid 5px #a1a4ff;
        box-shadow: 0px 2px 5px 0px #a1a4ff;
        font-size: clamp(1rem, 2vw, 2rem) !important;
    }

    /*= Main Menu Page =*/
    @media screen and (max-width: 1024px) {
        .module-btn {
            width: 80% !important;
            padding: 20px 0px;
            font-size: clamp(1rem, 2vw, 2.8rem) !important;
            border-radius: 80px;
        }

        /* ปรับขนาดตัวอักษรให้ลดลงเล็กน้อย แต่ยังคงความโดดเด่น */
        .game-text {
            font-size: clamp(7.3rem, 9.0vw, 9.0rem) !important;
        }

        /* ปรับขนาดตัวละครและเลื่อนออกจากพื้นที่หลักเล็กน้อย */
        img[style*="width: 140px"] {
            width: 110px !important;
            left: 0.1% !important; /* ขยับไปทางซ้ายเล็กน้อย */
        }

        #nong-purple {
            width: 160px !important;
            left: 10% !important;
        }

        img[style*="width: 150px"] {
            width: 120px !important;
            left: 88% !important; /* ขยับออกไปทางขวา */
        }

        img[style*="width: 200px"] {
            width: 160px !important;
            left: 82% !important; /* ขยับออกไปทางขวาอีกนิด */
        }

        img[style*="width: 280px"] {
            width: 200px !important;
            left: 0.4% !important; /* ขยับออกไปทางซ้าย */
        }
    }

    /*= Module 1 =*/
    .module-headtext {
        margin-bottom: 20px;
        text-align: center;
        font-size: clamp(2rem, 8vw, 10rem) !important;
    }

    .tutorial-headtext {
        margin-top: -20px;
        margin-bottom: -20px;
        text-align: center;
        font-size: clamp(2rem, 10vw, 8rem) !important;
    }

    .score-headtext {
        margin-bottom: 20px;
        text-align: center;
        font-size: clamp(1rem, 5vw, 4.5rem) !important;
    }

    .score-text {
        margin-bottom: 20px;
        text-align: center;
        font-size: clamp(1.5rem, 7vw, 7rem) !important;
    }

    .test-result {
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 30% !important;
        padding: 10px 0px 10px 0px;
        border-radius: 100px;
        border: none;
        font-size: clamp(1rem, 3vw, 2.5rem) !important;
    }

    .main-module-go {
        text-align: center;
        text-decoration: none;
        margin-top: 15px;
        margin-bottom: 20px;
        background: #8dd4ff;
        width: 50% !important;
        padding: 30px 0px 30px 0px;
        border-radius: 100px;
        border: none;
        box-shadow: 0px 2px 10px 5px #d9d9d9;
        font-size: clamp(1rem, 3vw, 3rem) !important;
        z-index: 99;
    }

    .main-1{
        font-weight: bold !important;
        background: #8FD3FF !important;
        border: solid 5px #6DC6FF;
        box-shadow: 0px 2px 5px 2px #6DC6FF !important;
    }

    .main-2{
        background: #A89CFF !important;
        border: solid 5px #6A6DC6 !important;
        box-shadow: 0px 2px 5px 2px #6A6DC6 !important;
    }

    .main-3 {
        background: #F6CD6D !important;
        border: solid 5px #e8b847 !important;
        box-shadow: 0px 2px 5px 2px #e8b847 !important;
    }

    .instruction-text{
        width: 40%;
        padding:5px;
        margin-top: 20px;
        text-align:center;
        background: #FA9B95;
        box-shadow: 0px 3px 5px #d9d9d9;
        font-size: clamp(1rem, 2vw, 1.5rem) !important;
    }

    .module-go {
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #6DC6FF;
        width: 30% !important;
        padding: 30px 0px 30px 0px;
        border-radius: 100px;
        border: solid 5px #51AFED;
        box-shadow: 0px 4px 7px 2px #51afed;
        font-size: clamp(1rem, 3vw, 3rem) !important;
    }

    .module-golong { /* For long text */
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #8dd4ff;
        width: 37.5% !important;
        padding: 30px 0px 30px 0px;
        border-radius: 100px;
        border: none;
        font-size: clamp(1rem, 3vw, 3rem) !important;
    }

    .module-golong-glow { /* For long text */
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #004877 !important;
        background: #CCEBFF;
        width: 37.5% !important;
        padding: 30px 0px 30px 0px;
        border-radius: 100px;
        border: solid 5px #6DC6FF;
        box-shadow: 0px 2px 5px 5px #6dc6ff;
        font-size: clamp(1rem, 4vw, 4rem) !important;
    }

    .module-golong-glow-exit { /* For long text */
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #004877 !important;
        background: #8FD3FF;
        width: 37.5% !important;
        padding: 30px 0px 30px 0px;
        border-radius: 100px;
        border: solid 5px #41B0F8;
        box-shadow: 0px 2px 5px 5px #41B0F8;
        font-size: clamp(1rem, 4vw, 4rem) !important;
    }

    .module-goshort { /* For short text */
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #8dd4ff;
        width: 90% !important;
        padding: 30px 0px 30px 0px;
        border-radius: 100px;
        border: none;
        font-size: clamp(1rem, 3vw, 3rem) !important;
    }

    .no-play {
        background: #fb9b95 !important;
        border: solid 5px #E46961 !important;
        box-shadow: 0px 4px 7px 2px #E46961 !important;
    }

    .video-preview {
        width: 100%;
        max-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
    }

    .video-preview video {
        width: 100%;
        height: auto;
        max-width: 700px;
        max-height: 100%;
    }

    /* = FlashCard =*/
    .close-btn {
        position: absolute;
        top: 2%;
        right: 2%;
        color: black;
        text-decoration: none;
        font-size: 4rem;
    }

    

    .flashcard-overall-container {
        border: solid 5px red;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flashcard-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .flashcard-container img {
        width: 50%;
        height: auto;
        margin-top: 150px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .flashcard-container img:focus {
        margin-top: 45px;
    }

    .flashcard-container img:focus + .answer-container {
        opacity: 1;
    }

    .next-btn {
        position: absolute;
        top: 45%;
        right: 2.25%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        color: black;
        text-decoration: none;
        opacity: 0;
        transition: 0.3s ease;
        pointer-events: none;
    }
    .next-btn i {
        font-size: 4rem;
    }
    .next-btn-text{
        margin-top: 3px;
        font-size: 2rem;
    }

    .answer-container {
        margin-top: 20px;
        opacity: 0;
        transition: 0.3s ease;
    }

    .answer-text {
        white-space: nowrap;
        font-size: 5rem !important;
    }

    @media screen and (max-width: 1370px) {
        .flashcard-container img {
            width: 60%; /* ปรับขนาดภาพให้เหมาะสมกับหน้าจอ */
            height: auto;
            margin-top: 100px;
        }
    }

    @media screen and (max-width: 1024px) {
        .flashcard-container img {
            width: 65%; /* ปรับขนาดภาพให้เหมาะสมกับหน้าจอ */
            height: auto;
            margin-top: 100px;
        }
    }

    /* =M1_Ask= */
    @media (max-width: 1024px) {

        .row {
            width: 90%;
            text-align: center;
        }

        .module-headtext {
            font-size: 2rem; /* ปรับขนาดหัวข้อให้เหมาะสม */
        }

        .module-go {
            width: 80%;
            font-size: 1.2rem;
            padding: 12px 0;
            text-align: center;
            margin-bottom: 10px;
        }
    }

/* =M1_Enhance1= */
.choices {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 60%;
    margin: 30px auto;
}

.choice-btn {
    padding: 35px 25px 35px 25px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #f0f0f0;
    border: solid 4px #9f9f9f;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 5px #9f9f9f;
    white-space: nowrap;
    font-size: clamp(0.8rem, 3vw, 2.5rem) !important;
    transition: 0.2s ease;
}

.correct {
    background-color: #B9E7A6;
    border: solid 5px #94CA7E;
    box-shadow: 0px 4px 7px 2px #94CA7E;
    color: black;
}

.wrong {
    background-color: #FA9B95;
    border: solid 5px #E46961;
    box-shadow: 0px 4px 7px 2px #E46961;
    color: black;
}

    .flashcard-overall-container {
        border: solid 5px red;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .question-text {
        margin-top: -15px;
        margin-bottom: 15px;
        text-align: center;
        font-size: clamp(1rem, 4vw, 8rem) !important;
    }

    .enhance-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .enhance-container img {
        width: 40%;
        height: auto;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s ease;
    }

/* =M1_Conclude= */
.container-scroll {
    position:relative;
    margin: 0;
    padding: 0;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    width: 100dvw;
    height: 100dvh;
    background: url(/pic/BG/Conclude.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    
}
.sub-container {
    position:absolute;
    top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flashcard-show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.flashcard-show-container img {
    width: 50%;
    height: auto;
    margin-top: 100px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}
.answer-show-container {
    margin-top: 50px;
    transition: 0.3s ease;
}
.row{
    width: 100% !important;
    margin: 0!important;
    padding: 0!important;
}
.conclude-text {
    margin-bottom: 50px;
    text-align: center;
    color: #004877;
    font-size: clamp(1rem, 5vw, 5rem) !important;
}
.conclude-btn {
    position: fixed;
    bottom: 3%;
    text-align: center;
    text-decoration: none;
    background: #6DC6FF;
    width: 20% !important;
    padding: 15px 0px 15px 0px;
    border-radius: 100px;
    border: solid 5px #51AFED;
    box-shadow: 0px 4px 7px 2px #51afed;
    font-size: clamp(0.8rem, 3vw, 2.5rem) !important;
}
.all-card-container {
    margin-bottom: 120px !important;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 80%;
    margin-bottom:50px;
    
    border-radius: 15px;
}
.card-img-top {
    border-radius: 10px;
}









/* Module 2*/
.m2-choices {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    width: 60%;
    margin: 30px auto;
    border:none;
}

.m2-choices .choice-btn:first-child {
    grid-column: span 2;
    width: 50%;
    justify-self: center;
    align-self: center;
}
