@{
    ViewData["Title"] = "Home Page";
}

<div class="container home-bg">
    
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="game-text noto-bold fs-1">เกมพลเมืองดี 4.0</div>
        <button class="w-50 start-btn noto-bold text-white">เริ่มเกม</button>
        <div class="authen-text w-50 row d-flex flex-row justify-content-center align-items-center">
            <a href="#" class="col text-center">เข้าสู่ระบบ</a>
            <a href="#" class="col text-center">สมัครบัญชี</a>
        </div>
    </div>

</div>
