@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Home.png" class="background" />

    <!-- ตัวละครที่เพิ่มเข้ามา -->
    <img id="nong-purple" src="/pic/BG/Nong Purple .PNG" style="position: absolute; top: 1%; left: 5%; width: 200px; transform: rotate(-10deg);" />
    <img src="/pic/BG/Nong Yellow .PNG" style="position: absolute; top: 60%; left: 5%; width: 280px; transform: rotate(20deg);" />
    <img src="/pic/BG/NongBlue.PNG" style="position: absolute; top: 20%; left: 87%; width: 150px; transform: rotate(-5deg);" />
    <img src="/pic/BG/NongRed.PNG" style="position: absolute; top: 60%; left: 80%; width: 200px; transform: rotate(-10deg);" />

    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="game-text noto-bold fs-1">เกมพลเมืองดี 4.0</div>
        <a asp-action="Login" class="w-50 start-btn noto-bold text-white">เริ่มเกม</a>
        <div class="authen-text w-50 d-flex flex-row justify-content-center align-items-center">
            <a asp-action="Login" class="me-auto black text-center">เข้าสู่ระบบ</a>
            <a asp-action="Register" class="black text-center">สมัครบัญชี</a>
        </div>
    </div>
</div>
