@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Module1.png" class="background" />
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="module-headtext blue noto-bold fs-1">เคยเล่นมาก่อนหรือไม่?</div>
        <a asp-action="M1_Start1" class="module-go noto-bold text-white">เคยเล่นแล้ว</a>
        <a asp-action="M1_Tutorial" class="module-go noto-bold no-play text-white">ยังไม่เคยเล่น</a>
    </div>
    <a class="menu" asp-action="Menu" asp-route-source="M1_Ask">
        <i class="fa-solid fa-list"></i>
        <div class="menu-text">หน้าเมนู</div>
    </a>
</div>
