@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Module1.png" class="background" />
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="module-headtext blue noto-bold fs-1">สรุปเนื้อหา</div>
        <a asp-controller="FlashCard" asp-action="M1_Conclude_All"  class="module-go noto-regular text-white">เริ่มเลย</a>
    </div>
    <a class="menu" asp-action="Menu" asp-route-source="M1_Conclude"><i class="fa-solid fa-list"></i></a>
</div>