@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Module1.png" class="background" />
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="module-headtext blue noto-bold fs-1">การรับรู้อารมณ์</div>
        <a asp-controller="FlashCard" asp-action="M1_Done" asp-route-source="M1_Start1" class="module-go noto-regular text-white">เริ่มเกม</a>
    </div>
    <a class="menu" asp-action="#" asp-route-source="M1_Start1"><i class="fa-solid fa-list"></i></a>
</div>
