@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Module1.png" class="background" />
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="module-headtext blue noto-bold fs-1">แบบทดสอบ</div>
        <a asp-controller="FlashCard" asp-action="M1_Test" class="module-go noto-bold text-white">เริ่มทดสอบ</a>
    </div>
    <a class="menu" asp-action="Menu" asp-route-source="M1_Test_Start">
        <i class="fa-solid fa-list"></i>
        <div class="menu-text">หน้าเมนู</div>
    </a>
</div>