@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Module2.png" class="background" />
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="module-headtext purple noto-bold fs-1">การรับรู้อารมณ์</div>
        <a asp-action="M2_Choose" class="module2-go noto-regular text-white">เคยเล่นแล้ว</a>
        <a asp-action="M2_Tutorial" class="module2-go noto-regular no-play text-white">ยังไม่เคยเล่น</a>
    </div>
    <a class="menu" asp-action="Menu" asp-route-source="M2_Ask"><i class="fa-solid fa-list"></i></a>
</div>
