@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Module2.png" class="background" />
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="module-headtext purple noto-bold fs-1">การรับรู้อารมณ์</div>
        <a asp-action="M2_Start1" class="module2-golong noto-regular text-white">การแสดงความต้องการ</a>
        <a asp-action="M2_Start1" class="module2-golong noto-regular  text-white">การแสดงออกและตอบสนอง</a>
    </div>
    <a class="menu" asp-action="Menu" asp-route-source="M2_Choose"><i class="fa-solid fa-list"></i></a>
</div>
