@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Module3.png" class="background" />
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="module-headtext noto-bold fs-1" style="color: #FA9B95;">เสริมสร้างความเข้าใจ</div>
        <a asp-action="M3_Enhance_Test" class="module3-go noto-regular text-white">เริ่มทดสอบ</a>
    </div>
    <a class="menu" asp-action="Menu" asp-route-source="M3_Enhance">
        <i class="fa-solid fa-list"></i>
        <div class="menu-text">หน้าเมนู</div>
    </a>
</div>