@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg">
    <img src="/pic/BG/Module_Main.png" class="background" />
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="game-text blue noto-bold fs-1">เกมพลเมืองดี 4.0</div>
        <a asp-action="M1_Main" class="main-module-go noto-regular text-white">Module 1 : การรับรู้อารมณ์</a>
        <a class="main-module-go noto-regular text-white">Module 2 : การแสดงออก</a>
        <a class="main-module-go noto-regular text-white">Module 3 : จริยธรรมและศีลธรรม</a>
    </div>
</div>
