@{
    ViewData["Title"] = "Flash Card";
    string? source = TempData["Source"]?.ToString();
    string? data = ViewData["Data"]?.ToString();
}

<div class="container home-bg d-flex flex-column justify-content-center align-items-center">
    <img src="/pic/BG/Home.png" class="background" />

    <!-- ตัวละครที่เพิ่มเข้ามา -->
    <img src="/pic/BG/Nong Purple .PNG" id="nong-purple" style="position: absolute; top: 1%; left: 5%; width: 200px; transform: rotate(-10deg);" />
    <img src="/pic/BG/Nong Yellow .PNG" style="position: absolute; top: 60%; left: 5%; width: 280px; transform: rotate(20deg);" />
    <img src="/pic/BG/NongBlue.PNG" style="position: absolute; top: 20%; left: 87%; width: 150px; transform: rotate(-5deg);" />
    <img src="/pic/BG/NongRed.PNG" style="position: absolute; top: 60%; left: 80%; width: 200px; transform: rotate(-10deg);" />

    <div class="rectangle-menu">
        <div class="menu-header-container">
            <div class="menu-headtext noto-bold">เมนู</div>
        </div>
        <div class="menu-btn-container">
            <!-- Home Page -->
            <a asp-action="HomeLoggedIn" class="home-btn me-5">
                <i class="fa-solid fa-house"></i>
                <div class="noto-bold">หน้าแรก</div>
            </a>

            <!-- === Resume === -->
            @if (!string.IsNullOrEmpty(source))
            {
                <a asp-action="@source" asp-route-next="@data" class="continue-btn me-5">
                    <i class="fa-solid fa-play"></i>
                    <div class="noto-bold">เล่นต่อ</div>
                </a>
            }

            <!-- Module Main Page -->
            <a asp-action="Mainmenu" class="lesson-btn">
                <i class="fa-solid fa-book-open"></i>
                <div class="noto-bold">บทเรียน</div>
            </a>
        </div>
    </div>
</div>

