@{
    ViewData["Title"] = "Flash Card";
}

<div class="container home-bg d-flex flex-column justify-content-center align-items-center">
    <img src="/pic/BG/Register.png" class="background" />

    <a asp-action="Home" class="back-btn">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <div class="login-headtext blue noto-bold text-center">สมัครบัญชี</div>
    <div class="rectangle">
        <form asp-action="Register" method="post" class="login-form d-flex flex-column justify-content-center align-items-center">
            <input class="login-input" name="name" placeholder="ชื่อ" />
            <input class="login-input" name="surname" placeholder="นามสกุล" />
            <input class="login-input" name="username" placeholder="ชื่อบัญชี" />
            <input class="login-input" name="password" placeholder="รหัสผ่าน" />
            <button class="login-submit" type="submit">สมัคร</button>
        </form>
    </div>

</div>
